<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CleanSweep2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CleanSweep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CleanSweep2.Properties.Settings>
	        <setting name="FormHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verbosity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OperationWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box1Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box2Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box3Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box4Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box5Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box6Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box7Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box8Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box9Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box10Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box11Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box12Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box13Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box14Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box15Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Box18Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </CleanSweep2.Properties.Settings>
        <CleanSweep.Properties.Settings>
            <setting name="FormHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="FormWidth" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </CleanSweep.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="language" value="en-US"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>